 .enrolement-btn{
    background-color: var(--primary-color);
    color: white;
}
.enrolement-section{
    position: relative;
    top: -50px;
}
.search-bar{
    width: 400px;
    background-color: #F2F5F9;
    height: 50px;
}
.unlocked{
    color: var(--tertiary-color);
}
.pencil{
    color: var(--secondary-color);
}
.thead{
    background-color: #F2F5F9;
    color: var(--primary-color);
}
.enrolement-btn{
    background-color: var(--primary-color);
    color: white;
}
.enrolement-section{
    position: relative;
    top: -50px;
}
.search-bar{
    width: 400px;
    background-color: #F2F5F9;
    height: 50px;
}
.unlocked{
    color: var(--tertiary-color);
}
.pencil{
    color: var(--secondary-color);
}
.thead{
    background-color: #F2F5F9;
    color: var(--primary-color);
}